<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>DGA</title>
</head>
<body>
    <h1> The Values of DGA test report are given below: </h1>
    <p> Hydrogen : {{ hydrogen }} </p>
    <p> Carbon Di Oxide : {{ carbon_di_oxide }} </p>
    <p> Carbon Monoxide : {{ carbon_monoxide }}</p>
    <p> Ethylene : {{ ethylene }}</p>
    <p> Ethane : {{ ethane }}</p>
    <p> Methane : {{ methane }}</p>
    <p> Acetylene : {{ acetylene }}</p>
    <p> TDCG : {{ tdcg }}</p>
    <br>
    <br>
    <h1> Individual Gas Content Visualization </h1>

    <canvas id="myChart" width="70" height="25"></canvas>

<br>
<hr>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Hydrogen', 'Carbon Dioxide', 'Carbon Monoxide', 'Ethylene', 'Ethane', 'Methane', 'Acetylene', 'TDCG'],
          datasets: [{
              label: 'Data',
              data: [{{hydrogen}}, {{carbon_di_oxide}}, {{carbon_monoxide}}, {{ethylene}}, {{ethane}}, {{methane}}, {{acetylene}}, {{tdcg}},],
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>

<br>
<hr>
<h1> Roger's Ratio <h1>
    <p> Carbon Di Oxide / Carbon Monoxide : {{ ratio1 }}</p>
    <p> Ethylene / Ethane : {{ ratio2 }}</p>
    <br>
    <p> {{result}} </p>

<h1> Duval's Triangle 1 </h1>
<img src="data:image/png;base64, {{duval_1|safe}}"
<br>
<p>{{ duval_1_area }}</p>
<hr>

<h1> Duval's Triangle 4 </h1>
<img src="data:image/png;base64, {{duval_4|safe}}"
<br>
<p>{{ duval_4_area }}</p>
<hr>

<h1> Duval's Triangle 5 </h1>
<img src="data:image/png;base64, {{duval_5|safe}}"
<br>
<p>{{ duval_5_area }}</p>
<hr>

</body>
</html>